
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Style.cshtml";
}
@model SeyehatProjesi.Models.Siniflar.BlogYorum
<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class=""  style="margin-left:85px;">Tatil & Seyehat Blogum</h2>
                <div class="banner-left">
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/glass.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Restaurantlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/flight.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Uçuşlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/group.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Yapılacak Şeyler</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/web/images/key.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Araba Kiralama</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom_right_images">

                    <div class="slider" style="width:650px;height:400px">
                        <ul class="rslides" id="slider1">
                            @foreach (var x in Model.Deger1)
                            {
                                <li><img src="@x.BlogImage" alt="" style="width:650px;height:400px"></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class"content">
    <div class="wrap">
        <div class="wrapper">
            <div class="con-top">
                <h3 >Tatil Seyahat Bloguma Hoşgeldiniz</h3>
                <p>Tatil ve seyahat, hayatın stresinden uzaklaşıp yeni yerler keşfetmenin en güzel yollarından biridir. Blogumda, yurt içi ve yurt dışında ziyaret edebileceğiniz en gözde destinasyonlardan, gizli kalmış güzelliklere kadar pek çok yeri tanıtmayı amaçlıyorum. Sadece ünlü turistik yerleri değil, aynı zamanda doğayla iç içe olabileceğiniz, kalabalıktan uzak ve huzur dolu köşeleri de keşfetmenize yardımcı olacak ipuçlarını burada bulabilirsiniz.</p>
                <p>Bu blogda; konaklama tavsiyelerinden, seyahatinizi kolaylaştıracak pratik önerilere, gezi sırasında tadabileceğiniz lezzetlerden, tarihi yerlerin büyüleyici hikayelerine kadar birçok farklı konuda bilgi paylaşımında bulunuyorum. Ayrıca seyahat fotoğrafları çekmek, yolculuk sırasında yanınıza almanız gerekenler ve bütçe dostu seyahat yöntemleri gibi konular </p>
            </div>

            <div class="grids">
                <div class="box1">
                    @Html.Action("Partial1", "Default")
                    @Html.Action("Partial2", "Default")
                   
        </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>



